body {
    text-align: center;
    background: var(--gunmetal);
    /* display: grid; */
    /* grid-template-rows: auto auto; */
    /* grid-template-columns: 0.5fr 0.5fr 1fr; */
    margin: clamp(10px, 3vw, 40px);
    margin-bottom: 0;
    font-family: var(--lato);
    color: #99a8a8;
}

.city-search {
    text-align: right;
    margin-bottom: 0.5rem;
}

.city-search > * {
    border: hidden;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: var(--air-force-blue);
    transition: background-color 0.4s;
}

button:hover {
    background-color: var(--light-sky-blue);
}

input[type="text"] {
    margin-right: 5px;
    height: 36px;
}

input[type="text"]:focus {
    outline: 2px var(--light-sky-blue) solid;
}
