:root {
    /* Colors */
    --dark-violet: #40194b;
    --purplish-blue: #701263;
    --deep-purple: #240e20;
    --gunmetal: #092327;
    --dark-slate-gray: #0b5351;
    --light-sea-green: #00a9a5;
    --air-force-blue: #4e8098;
    --light-sky-blue: #90c2e7;
    /* Fonts */
    --lato: "Lato", sans-serif;
    --raleway: "Raleway", sans-serif;
    --raleway-dots: "Raleway Dots", cursive;
}

* {
    margin: 0;
}

html {
    height: 100vh;
}
