.collapsible {
    background-image: linear-gradient(0.6turn, var(--purplish-blue), var(--dark-violet), var(--deep-purple));
    border: none;
    border-radius: 20px;
    color: inherit;
    cursor: pointer;
    font-size: 15px;
    grid-column: 1 / 4;
    margin-bottom: 0;
    outline: none;
    padding: 18px;
    text-align: left;
    width: 100%;
}

.collapsible:hover,
.active_daybutton {
    background-image: linear-gradient(0.3turn, var(--purplish-blue), var(--dark-violet), var(--deep-purple));
}

.collapsible::after {
    content: "\25be";
    float: right;
    transform: scale(1.7);
}

.active_daybutton::after {
    content: "\25b4";
    float: right;
    transform: scale(1.7);
}
